--

    \restrict kHdPvmCfo7Km60CPyzgPGwrOdc70cjYNHCnyAAbxMTUXQBZHjeIHfyzFNNRJxCs
-- Dumped by pg_dump version 15.15

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: PublishStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."PublishStatus" AS ENUM (
    'DRAFT',
    'PUBLISHED'
);


ALTER TYPE public."PublishStatus" OWNER TO postgres;

--
-- Name: UserRole; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."UserRole" AS ENUM (
    'ADMIN',
    'INSTRUCTOR',
    'STUDENT'
);


ALTER TYPE public."UserRole" OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: _AttachmentToLesson; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."_AttachmentToLesson" (
    "A" text NOT NULL,
    "B" text NOT NULL
);


ALTER TABLE public."_AttachmentToLesson" OWNER TO postgres;

--
-- Name: accounts; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.accounts (
    id text NOT NULL,
    user_id text NOT NULL,
    type text NOT NULL,
    provider text NOT NULL,
    provider_account_id text NOT NULL,
    refresh_token text,
    access_token text,
    expires_at integer,
    token_type text,
    scope text,
    id_token text,
    session_state text
);


ALTER TABLE public.accounts OWNER TO postgres;

--
-- Name: attachments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.attachments (
    id text NOT NULL,
    name text NOT NULL,
    url text NOT NULL,
    course_id text NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.attachments OWNER TO postgres;

--
-- Name: categories; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.categories (
    id text NOT NULL,
    name text NOT NULL
);


ALTER TABLE public.categories OWNER TO postgres;

--
-- Name: chapters; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.chapters (
    id text NOT NULL,
    title text NOT NULL,
    description text,
    "position" integer NOT NULL,
    status public."PublishStatus" DEFAULT 'DRAFT'::public."PublishStatus" NOT NULL,
    course_id text NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.chapters OWNER TO postgres;

--
-- Name: comments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.comments (
    id text NOT NULL,
    content text NOT NULL,
    user_id text NOT NULL,
    lesson_id text NOT NULL,
    is_deleted boolean DEFAULT false NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.comments OWNER TO postgres;

--
-- Name: courses; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.courses (
    id text NOT NULL,
    instructor_id text NOT NULL,
    title text NOT NULL,
    slug text NOT NULL,
    description text,
    image text,
    price double precision,
    status public."PublishStatus" DEFAULT 'DRAFT'::public."PublishStatus" NOT NULL,
    category_id text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL,
    currency text DEFAULT 'EUR'::text NOT NULL
);


ALTER TABLE public.courses OWNER TO postgres;

--
-- Name: lesson_likes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.lesson_likes (
    id text NOT NULL,
    user_id text NOT NULL,
    lesson_id text NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.lesson_likes OWNER TO postgres;

--
-- Name: lessons; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.lessons (
    id text NOT NULL,
    title text NOT NULL,
    description text,
    video_url text,
    "position" integer NOT NULL,
    status public."PublishStatus" DEFAULT 'DRAFT'::public."PublishStatus" NOT NULL,
    is_free boolean DEFAULT false NOT NULL,
    chapter_id text NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.lessons OWNER TO postgres;

--
-- Name: options; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.options (
    id text NOT NULL,
    text text NOT NULL,
    is_correct boolean DEFAULT false NOT NULL,
    question_id text NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.options OWNER TO postgres;

--
-- Name: purchases; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.purchases (
    id text NOT NULL,
    user_id text NOT NULL,
    course_id text NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL,
    price double precision
);


ALTER TABLE public.purchases OWNER TO postgres;

--
-- Name: questions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.questions (
    id text NOT NULL,
    text text NOT NULL,
    quiz_id text NOT NULL,
    "position" integer NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.questions OWNER TO postgres;

--
-- Name: quizzes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.quizzes (
    id text NOT NULL,
    title text NOT NULL,
    lesson_id text NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.quizzes OWNER TO postgres;

--
-- Name: reviews; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.reviews (
    id text NOT NULL,
    user_id text NOT NULL,
    course_id text NOT NULL,
    rating integer NOT NULL,
    comment text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.reviews OWNER TO postgres;

--
-- Name: sessions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.sessions (
    id text NOT NULL,
    session_token text NOT NULL,
    user_id text NOT NULL,
    expires timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.sessions OWNER TO postgres;

--
-- Name: system_settings; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.system_settings (
    key text NOT NULL,
    value text NOT NULL,
    description text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.system_settings OWNER TO postgres;

--
-- Name: user_progress; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_progress (
    id text NOT NULL,
    user_id text NOT NULL,
    lesson_id text NOT NULL,
    is_completed boolean DEFAULT false NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.user_progress OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id text NOT NULL,
    name text,
    email text NOT NULL,
    email_verified timestamp(3) without time zone,
    image text,
    role public."UserRole" DEFAULT 'STUDENT'::public."UserRole" NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL,
    password text,
    is_suspended boolean DEFAULT false NOT NULL,
    suspended_at timestamp(3) without time zone,
    suspended_reason text,
    suspended_until timestamp(3) without time zone
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Data for Name: _AttachmentToLesson; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."_AttachmentToLesson" ("A", "B") FROM stdin;
cmjrtxzhj0004xg93rqnyt98p	cmjrsgrtj000d1o9367niqxwa
cmjrtxzhj0004xg93rqnyt98p	cmjrsgvx3000e1o9313w9qlb1
cmjrtxqxe0003xg93r89gz166	cmjrsgvx3000e1o9313w9qlb1
cmjrtxqxe0003xg93r89gz166	cmjrsh3e2000f1o93czzxaf92
\.


--
-- Data for Name: accounts; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.accounts (id, user_id, type, provider, provider_account_id, refresh_token, access_token, expires_at, token_type, scope, id_token, session_state) FROM stdin;
\.


--
-- Data for Name: attachments; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: categories; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.categories (id, name) FROM stdin;
cmjrri3pe0001qc93i7x9ykuj	Musique
cmjrri3pe0002qc93ceu74vec	Fitness
cmjrri3pe0003qc93m95jq6kw	Photographie
cmjrri3pe0005qc93bm58muru	Ing├®nierie
cmjrri3pe0006qc93syiy4r2g	Cin├®ma
cmjrwr5bs0001uw93y1lbnkc0	algebre
cmjrri3pe0004qc9379vxaxhp	Compta
cmjrri3pe0000qc9353e8pvzv	Informatique-ia
cmk6rum5d0000mk93vhinqzg1	Python Development
cmk76oom600000w938n2y8h85	Informatique
\.


--
-- Data for Name: chapters; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: comments; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.comments (id, content, user_id, lesson_id, is_deleted, created_at, updated_at) FROM stdin;
cmjrtoryq0000xg939hpg245l	tres beau cours	cmjrs54ed00091o93md54w5dj	cmjrsgrtj000d1o9367niqxwa	f	2025-12-30 00:02:06.098	2025-12-30 00:02:06.098
cmjrtpisk0001xg93uu763hlj	toi meme tu dis ko...Ido tu deviens quoi	cmjrs54ed00091o93md54w5dj	cmjrsgvx3000e1o9313w9qlb1	f	2025-12-30 00:02:40.868	2025-12-30 00:02:40.868
\.


--
-- Data for Name: courses; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: lesson_likes; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.lesson_likes (id, user_id, lesson_id, created_at) FROM stdin;
cmjrw0ktd0000ds9348mf0e08	cmjrs54ed00091o93md54w5dj	cmjrsgrtj000d1o9367niqxwa	2025-12-30 01:07:15.937
cmjrw8no10000uw93icbeo4df	cmjrs54ed00091o93md54w5dj	cmjruy5hx0007yc93qhglvh5i	2025-12-30 01:13:32.88
cmjsj2ijb00004k939dqy17ke	cmjrs54ed00091o93md54w5dj	cmjrsgvx3000e1o9313w9qlb1	2025-12-30 11:52:37.461
\.


--
-- Data for Name: lessons; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: options; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: purchases; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: questions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.questions (id, text, quiz_id, "position", created_at, updated_at) FROM stdin;
cmjrycojr0002709396wh7q32	qui a cree la terre	cmjrybpyq000070938rijtkt6	1	2025-12-30 02:12:39.878	2025-12-30 02:12:39.878
cmjrycojt00037093aigu0276	l ia reflechit	cmjrybpyq000070938rijtkt6	1	2025-12-30 02:12:39.881	2025-12-30 02:14:30.806
cmjsj6ues00024k93ft6kijmu	la vie est rose	cmjsj67ou00014k93iwoboqiv	1	2025-12-30 11:55:59.476	2025-12-30 11:55:59.476
\.


--
-- Data for Name: quizzes; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.quizzes (id, title, lesson_id, created_at, updated_at) FROM stdin;
cmjrybpyq000070938rijtkt6	tcp quiz	cmjrsgrtj000d1o9367niqxwa	2025-12-30 02:11:55.057	2025-12-30 02:12:03.289
cmjsj67ou00014k93iwoboqiv	quizz sur la vie	cmjrupytn0001yc93dsji906b	2025-12-30 11:55:30.03	2025-12-30 11:56:42.517
\.


--
-- Data for Name: reviews; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.reviews (id, user_id, course_id, rating, comment, created_at, updated_at) FROM stdin;
cmjrtb80m0002nc934ks4yh5z	cmjrs54ed00091o93md54w5dj	cmjrsdq5r000b1o930l4s7z6h	4	tres bon cours,franchement tu est bon....Continue comme ca,tu seras le meilleur	2025-12-29 23:51:33.718	2025-12-29 23:51:33.718
\.


--
-- Data for Name: sessions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.sessions (id, session_token, user_id, expires) FROM stdin;
\.


--
-- Data for Name: system_settings; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.system_settings (key, value, description, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: user_progress; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.user_progress (id, user_id, lesson_id, is_completed, created_at, updated_at) FROM stdin;
cmjrti5df0005nc93d5wwq7w5	cmjrs54ed00091o93md54w5dj	cmjrsgrtj000d1o9367niqxwa	t	2025-12-29 23:56:56.883	2025-12-30 02:27:43.735
cmjrtaj5l0001nc93b6swclwl	cmjrs54ed00091o93md54w5dj	cmjrsgvx3000e1o9313w9qlb1	t	2025-12-29 23:51:01.497	2025-12-30 02:28:09.781
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: _AttachmentToLesson _AttachmentToLesson_AB_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."_AttachmentToLesson"
    ADD CONSTRAINT "_AttachmentToLesson_AB_pkey" PRIMARY KEY ("A", "B");


--
-- Name: accounts accounts_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accounts
    ADD CONSTRAINT accounts_pkey PRIMARY KEY (id);


--
-- Name: attachments attachments_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.attachments
    ADD CONSTRAINT attachments_pkey PRIMARY KEY (id);


--
-- Name: categories categories_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT categories_pkey PRIMARY KEY (id);


--
-- Name: chapters chapters_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.chapters
    ADD CONSTRAINT chapters_pkey PRIMARY KEY (id);


--
-- Name: comments comments_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.comments
    ADD CONSTRAINT comments_pkey PRIMARY KEY (id);


--
-- Name: courses courses_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.courses
    ADD CONSTRAINT courses_pkey PRIMARY KEY (id);


--
-- Name: lesson_likes lesson_likes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lesson_likes
    ADD CONSTRAINT lesson_likes_pkey PRIMARY KEY (id);


--
-- Name: lessons lessons_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lessons
    ADD CONSTRAINT lessons_pkey PRIMARY KEY (id);


--
-- Name: options options_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.options
    ADD CONSTRAINT options_pkey PRIMARY KEY (id);


--
-- Name: purchases purchases_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.purchases
    ADD CONSTRAINT purchases_pkey PRIMARY KEY (id);


--
-- Name: questions questions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.questions
    ADD CONSTRAINT questions_pkey PRIMARY KEY (id);


--
-- Name: quizzes quizzes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.quizzes
    ADD CONSTRAINT quizzes_pkey PRIMARY KEY (id);


--
-- Name: reviews reviews_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reviews
    ADD CONSTRAINT reviews_pkey PRIMARY KEY (id);


--
-- Name: sessions sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sessions
    ADD CONSTRAINT sessions_pkey PRIMARY KEY (id);


--
-- Name: system_settings system_settings_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.system_settings
    ADD CONSTRAINT system_settings_pkey PRIMARY KEY (key);


--
-- Name: user_progress user_progress_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_progress
    ADD CONSTRAINT user_progress_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: _AttachmentToLesson_B_index; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "_AttachmentToLesson_B_index" ON public."_AttachmentToLesson" USING btree ("B");


--
-- Name: accounts_provider_provider_account_id_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX accounts_provider_provider_account_id_key ON public.accounts USING btree (provider, provider_account_id);


--
-- Name: attachments_course_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX attachments_course_id_idx ON public.attachments USING btree (course_id);


--
-- Name: categories_name_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX categories_name_key ON public.categories USING btree (name);


--
-- Name: chapters_course_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX chapters_course_id_idx ON public.chapters USING btree (course_id);


--
-- Name: comments_lesson_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX comments_lesson_id_idx ON public.comments USING btree (lesson_id);


--
-- Name: comments_user_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX comments_user_id_idx ON public.comments USING btree (user_id);


--
-- Name: courses_category_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX courses_category_id_idx ON public.courses USING btree (category_id);


--
-- Name: courses_instructor_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX courses_instructor_id_idx ON public.courses USING btree (instructor_id);


--
-- Name: courses_slug_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX courses_slug_key ON public.courses USING btree (slug);


--
-- Name: lesson_likes_lesson_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX lesson_likes_lesson_id_idx ON public.lesson_likes USING btree (lesson_id);


--
-- Name: lesson_likes_user_id_lesson_id_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX lesson_likes_user_id_lesson_id_key ON public.lesson_likes USING btree (user_id, lesson_id);


--
-- Name: lessons_chapter_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX lessons_chapter_id_idx ON public.lessons USING btree (chapter_id);


--
-- Name: options_question_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX options_question_id_idx ON public.options USING btree (question_id);


--
-- Name: purchases_course_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX purchases_course_id_idx ON public.purchases USING btree (course_id);


--
-- Name: purchases_user_id_course_id_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX purchases_user_id_course_id_key ON public.purchases USING btree (user_id, course_id);


--
-- Name: questions_quiz_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX questions_quiz_id_idx ON public.questions USING btree (quiz_id);


--
-- Name: quizzes_lesson_id_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX quizzes_lesson_id_key ON public.quizzes USING btree (lesson_id);


--
-- Name: reviews_course_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX reviews_course_id_idx ON public.reviews USING btree (course_id);


--
-- Name: reviews_user_id_course_id_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX reviews_user_id_course_id_key ON public.reviews USING btree (user_id, course_id);


--
-- Name: sessions_session_token_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX sessions_session_token_key ON public.sessions USING btree (session_token);


--
-- Name: user_progress_lesson_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX user_progress_lesson_id_idx ON public.user_progress USING btree (lesson_id);


--
-- Name: user_progress_user_id_lesson_id_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX user_progress_user_id_lesson_id_key ON public.user_progress USING btree (user_id, lesson_id);


--
-- Name: users_email_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX users_email_key ON public.users USING btree (email);


--
-- Name: _AttachmentToLesson _AttachmentToLesson_A_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."_AttachmentToLesson"
    ADD CONSTRAINT "_AttachmentToLesson_A_fkey" FOREIGN KEY ("A") REFERENCES public.attachments(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: _AttachmentToLesson _AttachmentToLesson_B_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."_AttachmentToLesson"
    ADD CONSTRAINT "_AttachmentToLesson_B_fkey" FOREIGN KEY ("B") REFERENCES public.lessons(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: accounts accounts_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accounts
    ADD CONSTRAINT accounts_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: attachments attachments_course_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.attachments
    ADD CONSTRAINT attachments_course_id_fkey FOREIGN KEY (course_id) REFERENCES public.courses(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: chapters chapters_course_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.chapters
    ADD CONSTRAINT chapters_course_id_fkey FOREIGN KEY (course_id) REFERENCES public.courses(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: comments comments_lesson_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.comments
    ADD CONSTRAINT comments_lesson_id_fkey FOREIGN KEY (lesson_id) REFERENCES public.lessons(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: comments comments_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.comments
    ADD CONSTRAINT comments_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: courses courses_category_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.courses
    ADD CONSTRAINT courses_category_id_fkey FOREIGN KEY (category_id) REFERENCES public.categories(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: courses courses_instructor_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.courses
    ADD CONSTRAINT courses_instructor_id_fkey FOREIGN KEY (instructor_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: lesson_likes lesson_likes_lesson_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lesson_likes
    ADD CONSTRAINT lesson_likes_lesson_id_fkey FOREIGN KEY (lesson_id) REFERENCES public.lessons(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: lesson_likes lesson_likes_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lesson_likes
    ADD CONSTRAINT lesson_likes_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: lessons lessons_chapter_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lessons
    ADD CONSTRAINT lessons_chapter_id_fkey FOREIGN KEY (chapter_id) REFERENCES public.chapters(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: options options_question_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.options
    ADD CONSTRAINT options_question_id_fkey FOREIGN KEY (question_id) REFERENCES public.questions(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: purchases purchases_course_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.purchases
    ADD CONSTRAINT purchases_course_id_fkey FOREIGN KEY (course_id) REFERENCES public.courses(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: purchases purchases_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.purchases
    ADD CONSTRAINT purchases_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: questions questions_quiz_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.questions
    ADD CONSTRAINT questions_quiz_id_fkey FOREIGN KEY (quiz_id) REFERENCES public.quizzes(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: quizzes quizzes_lesson_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.quizzes
    ADD CONSTRAINT quizzes_lesson_id_fkey FOREIGN KEY (lesson_id) REFERENCES public.lessons(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: reviews reviews_course_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reviews
    ADD CONSTRAINT reviews_course_id_fkey FOREIGN KEY (course_id) REFERENCES public.courses(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: reviews reviews_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reviews
    ADD CONSTRAINT reviews_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: sessions sessions_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sessions
    ADD CONSTRAINT sessions_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: user_progress user_progress_lesson_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_progress
    ADD CONSTRAINT user_progress_lesson_id_fkey FOREIGN KEY (lesson_id) REFERENCES public.lessons(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: user_progress user_progress_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_progress
    ADD CONSTRAINT user_progress_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict kHdPvmCfo7Km60CPyzgPGwrOdc70cjYNHCnyAAbxMTUXQBZHjeIHfyzFNNRJxCs

